:root {
  --color-bg: #000000;
  --color-text-main: #FFFFFF;
  --color-text-header: #FFFFFF;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
}


@font-face {
    font-family: barzonite;
    src: url('https://raw.githubusercontent.com/auxilarist/website/main/fonts/barzonite.ttf') format("truetype");
}
@font-face {
    font-family: jetbrains;
    src: url('https://raw.githubusercontent.com/auxilarist/website/main/fonts/jetbrainspropo.ttf') format("truetype");
}


/* Navigation Bar */
/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: center;
    background: #333;
}

.navbar a {
    padding: 14px 20px;
    color: white;
    transition: background 0.3s ease, transform 0.3s ease; /* Add transition for smooth effect */
}

.navbar a:hover {
    background: #575757; /* Change background color on hover */ /* Scale the link slightly */
}

.banner-text {
    position: absolute;
    top: 25%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact center */
    color: blue;
    text-align: center
    
}

.banner-text h1 {
    font-size: 2.5em; /* Adjust size as needed */
    margin: 0;
        background-color: transparent; /* Transparent background */
            transition: color 0.5s ease; /* Smooth color transition */
}

.banner-text p {
    font-size: 1.2em; /* Adjust size as needed */
        background-color: transparent; /* Transparent background */
            transition: color 0.5s ease; /* Smooth color transition */
}

.footer {
    background: #004080;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

h1 {
    text-align: center;
  font-family: barzonite;
  color: #ffffff;
  background-color: var(--color-bg);
  
}


p {
        text-align: center;
  font-family: jetbrains;
    color: #ffffff;
  background-color: var(--color-bg);
}
